@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 5 5 5;
  --foreground: 255 255 255;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  overflow-x: hidden;
}

/* Custom scrollbar to keep it "Apple-like" and minimal */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
